
@{
    ViewBag.Title = "Add";
}

<h2><u>Add</u></h2>

<form submit="/Add" method="post">
    <input name="firstname" />
    <input name="lastname" />
    <button type="submit">Add Student</button>
</form>